#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#b6ffef;
	border-radius: 5px;
	width: 60px;
	height: 60px;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size:0.6rem;
	transition:all 0.3s;
}

#page-top a:hover{
	background: #e7e7e7;
}

#page-top {
	position: fixed;
	right: 10px;
	bottom:10px;
	z-index: 2;
	opacity: 0;
	transform: translateY(100px);
}

#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
from {
    opacity: 0;
	transform: translateY(100px);
}
to {
    opacity: 1;
	transform: translateY(0);
    }
}

#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
    from {
    	opacity: 1;
	transform: translateY(0);
}
to {
    opacity: 1;
	transform: translateY(100px);
    }
}